/*-- scss:defaults --*/


@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Ms+Madi&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



.quarto-category {
  color: #E2735D;
}


.listing-category *{
  color: #E2735D;
}


span.menu-text:hover {
  color: #E2735D;
  transition-duration: 0.5s;
}


$navbar-bg: #C3DFDA;

.about-link-text:hover {
  color:  #E2735D;
}

span.navbar-title {
  color: #E2735D;

}

.quarto-title .title {  
  color: #E2735D;
}


$footer-bg: #ECECEC;

.nav-link {
  color: red;
}